<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

{% extends 'adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1" align="center">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="/addteach">Add Teacher</a></th>-->
    <!--</tr>-->
     <!--<tr>-->
      <!--<th scope="row"><a href="/viewteacher">View Teacher</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="/addstud">Add Student</a></th>-->
    <!--</tr>-->
     <!--<tr>-->
      <!--<th scope="row"><a href="/Viewstud">View Student</a></th>-->
    <!--</tr>-->
   <!---->
    <!--<tr>-->
      <!--<th scope="row"><a href="/">Logout</a></th>-->
    <!--</tr>-->
  <!--</table>-->
</form>
{% endblock %}
</body>
</html>
